[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=rushi-fastapi
Group=rushi-fastapi
WorkingDirectory=/home/rushi-fastapi/app/src/
Environment="PATH=/home/rushi-fastapi/app/venv/bin"
EnvironmentFile=/home/rushi-fastapi/.env
ExecStart=/home/rushi-fastapi/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target